<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input
          ngModel
          name="userName"
          id="userName"
          placeholder="userName"
          matInput
          required
        />
        <mat-hint>Username</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Firstname</mat-label>
        <input
          ngModel
          name="userFirstName"
          id="userFirstName"
          placeholder="Firstname"
          matInput
          required
        />
        <mat-hint>Firstname</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Lastname</mat-label>
        <input
          ngModel
          name="userLastName"
          id="userLastName"
          placeholder="Lastname"
          matInput
          required
        />
        <mat-hint>Lastname</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input
          type="password"
          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="password"
          matInput
          placeholder="Placeholder"
          required
        />
        <mat-hint>Password</mat-hint>
      </mat-form-field>
      <button class="w-100" type="submit" mat-raised-button color="primary">
        Register
      </button>
    </form>
  </div>
</div>
